body {

    background-image: url('https://i.ibb.co/LNjw31W/bgImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    width: max-content;
    margin: 5% auto 5% auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(111, 69, 146, 0.829);
    border-radius: 20px;
}

#container>*:first-child {
    align-self: flex-start;
}

img {
    background-color: #9683a3e0;
    border-radius: 10px;
}

#heading {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    font-family: cursive;
}

#info {
    background-color: rgba(110, 18, 196, 0.664);
    border-radius: 5px;
    color: rgb(166, 171, 173);
    padding: 12px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}

#input {
    width: 400px;
    height: 40px;
    background-color: rgba(45, 2, 85, 0.479);
    border-style: none;
    border-radius: 10px;
    color: #9c9090;
    font-size: 15px;
}

#btn-section {
    margin-top: 10px;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.buttons {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1.3rem;
    text-align: center;
}

.buttons:hover {
    box-shadow: rgba(18, 16, 32, 0.712) 0 1px 30px;
    transition-duration: .1s;
}

.buttons:active {
    transform: translate(0em, 0.2em);
}

#resultTable {
    margin-top: 50px;
}

#resultTable td {
    text-align: left;
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid rgb(141, 141, 180);
    border-radius: 5px;
}

#resultTable td:not(:first-child) {
    border-left: 1px solid rgb(141, 141, 180);
}

#resultTable tr:first-child {
    border-bottom: 3px solid #5c5151;
    background-color: rgb(65, 62, 105);
    text-align: left;
    font-size: 20px;
    color: rgb(21, 9, 32);
    height: 50px;
    border-radius: 5px;
}